<h1>Greeting learning spring boot 3.x</h1>
<p>
    In this chapter, we are learning how to make web application with spring boot 3.x
</p>
<ol>
    {{#videos}}
    <li>{{name}}</li>
    {{/videos}}
</ol>
<form method="post" action="/new-video">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
    <label for="description">Description:</label>
    <input type="text" id="description" name="description">
    <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}">
    <button type="submit">Submit</button>
</form>