<form action="/universal-seh" method="post">
    <label for="value">Search</label>
    <input type="text" id="value" placeholder="Search term" name="value">
    <button type="submit">Submit</button>
</form>